/* General */
body {
    background-color: white;
    background-image: url(./bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1,
h2,
h3 { margin-top: 0; }

/* Login */
.login-form {
    display: flex;
    flex-direction: column;
    max-height: inherit !important;
}

/* Top line */
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
}
.user-info > div {
    margin: 0 5px 0 10px;
}